<div class="intro-block">
<div class="intro-image">
    <img src="assets/img/angular.jpg" alt="Introduction Image">
</div>
<div class="intro-content">
    <h2 class="intro-title">Thông tin giới thiệu</h2>
    <p class="intro-description">
        Phần mềm kế toán và giải pháp quản lý doanh nghiệp (ERP) của FTS  là giải pháp quản lý cho mọi loại hình doanh nghiệp với ưu điểm là tính ổn định, linh hoạt, dễ sử dụng và khả năng tùy biến phù hợp với yêu cầu quản lý.
        Giải pháp quản lý của FTS đặc biệt phù hợp với các doanh nghiệp theo mô hình mẹ con, có nhiều đơn vị con trực thuộc ở các vị trí địa lý khác nhau, giúp doanh nghiệp có một hệ thống phần mềm quản lý kế toán, tài chính, kinh doanh, sản xuất được cài đặt và vận hành tập trung tại trụ sở chính:
        – Quản lý và theo dõi thông tin tài chính và quản trị của toàn hệ thống một cách nhanh chóng và chính xác,  hợp nhất báo cáo tài chính và quản trị dễ dàng.
        – Đảm bảo tính thống nhất trong theo dõi nghiệp vụ của tất cả các đơn vị con trong cùng hệ thống.
    </p>  
    <a href="#" class="intro-button">Xem thêm</a>
</div>
</div>