.item {
    float: left;
    flex: 4;
    margin: 15px;
    padding: 15px;
}
.container {
    display: flex;
}

.item-block{
    height: 100px;
    width: 25%;
    border: 4px blue solid;
}

.body-block{
    height: 500px;
    width: 100%;
    border: 4px green solid;
}