.item {
    float: left;
    flex: 4;
    margin: 15px;
    padding: 15px;
}
.container {
    display: flex;
    width: 1120px;
}

.item-block{
    height: 100px;
    width: 25%;
}

.body-block{
    height: 500px;
    width: 100%;
}